WebContent/WEB-INF/Copy of service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.springwscgweb.org/types" 
		xmlns:tns="http://www.springwscgweb.org/types" 
		elementFormDefault="qualified">
<element name="loginRequest">
  <complexType>
    <sequence>
      <element name="userId" type="string"/>
      <element name="password" type="string"/>
    </sequence>
  </complexType>
</element>

<element name="loginResponse">
  <complexType>
    <sequence>
      <element name="userName" type="string"/>
      <element name="entity" type="string"/>
    </sequence>
  </complexType>
</element>
</schema>

